ENV_SSH_KEY=~/.ssh/id_rsa

# used to work with ssh
ENV_GIT_VAR_ROOT_SIGNING_USER_NAME=joeblew999
ENV_GIT_VAR_ROOT_SIGNING_USER_EMAIL=joeblew999@gmail.com
ENV_GIT_SIGNING_KEY_PRIVATE_PATH=~/.ssh/id_rsa
ENV_GIT_SIGNING_PROGRAM=ssh-keygen
ENV_GIT_SIGNING_FORMAT=OpenSSH


# used to work with git.
ENV_GIT_REPO=git@github.com-joeblew999:joeblew999/test01
ENV_GIT_REPO_NAME=test01
ENV_GIT_REPO_VERSION=main

# used to work with src code.
COGENT_ENV_SRC_PREFIX=.
