
# Templazte designed to by copeied by each dev and ops person for thier own deployments.

export CLOUDFLARE_CLI_ACCOUNT_ID=supersecret

export CLOUDFLARE_CLI_API_TOKENsupersecret
export CLOUDFLARE_CLI_EMAIL=gedw99@bling.com
export WRANGLER_SEND_METRICS=false
export CLOUDFLARE_CLI_API_BASE_URL=https://api.cloudflare.com/client/v4
export WRANGLER_LOG=debug

# THIS IS ONLY for golang code: https://github.com/cloudflare/cloudflare-cli-go?tab=readme-ov-file#getting-started
export CLOUDFLARE_CLI_API_KEY=supersecret
export CLOUDFLARE_CLI_API_EMAIL=gedw99@bling.com

## THIS IS ONLY for CLI code, so my makefile
export CF_API_KEY=?
export CF_API_TOKEN=supersecret


export FLARE_CLI_RUN_ZONE=example.com
